<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Student Management System</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href=" {% static 'assets/img/favicon.png' %} ">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href=" {% static 'assets/css/all.min.css' %} ">
	<!-- bootstrap -->
	<link rel="stylesheet" href=" {% static 'assets/bootstrap/css/bootstrap.min.css' %} ">
	<!-- owl carousel -->
	<link rel="stylesheet" href=" {% static 'assets/css/owl.carousel.css' %} ">
	<!-- magnific popup -->
	<link rel="stylesheet" href=" {% static 'assets/css/magnific-popup.css' %} ">
	<!-- animate css -->
	<link rel="stylesheet" href=" {% static 'assets/css/animate.css' %} ">
	<!-- mean menu css -->
	<link rel="stylesheet" href=" {% static 'assets/css/meanmenu.min.css' %} ">
	<!-- main style -->
	<link rel="stylesheet" href=" {% static 'assets/css/main.css' %} ">
	<!-- responsive -->
	<link rel="stylesheet" href=" {% static 'assets/css/responsive.css' %} ">

</head>
<body style="background-image:url( {% static 'login_assets/images/hostel.jpg' %} )">
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
<!--							<a href=" {% static 'index.html' %} ">-->
<!--								<img src=" {% static 'assets/img/logo.png' %} " alt="">-->
<!--							</a>-->
							<h4 style="color:white">Student Management System</h4>

						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="#">Home</a>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->

	<!-- end search area -->

	<!-- hero area -->

	<div class="hero-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							 {% block content %}
                				{% endblock %}
							<p class="subtitle">student management system</p>
							<h1>Your Managing Partner</h1>
							<div class="hero-btns">
								<a href="{% url 'login1' %}" class="boxed-btn">Login Here!</a>
								<a href="{% url 'adminReg' %}" class="boxed-btn">Admin Register</a>
								<a href="{% url 'studentReg' %}" class="boxed-btn">Student Register</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href=" {% static 'index.html' %} ">Home</a></li>
							<li><a href=" {% static 'contact.html' %} ">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	

	
	<!-- jquery -->
	<script src=" {% static 'assets/js/jquery-1.11.3.min.js' %} "></script>
	<!-- bootstrap -->
	<script src=" {% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
	<!-- count down -->
	<script src=" {% static 'assets/js/jquery.countdown.js' %} "></script>
	<!-- isotope -->
	<script src=" {% static 'assets/js/jquery.isotope-3.0.6.min.js' %} "></script>
	<!-- waypoints -->
	<script src=" {% static 'assets/js/waypoints.js' %} "></script>
	<!-- owl carousel -->
	<script src=" {% static 'assets/js/owl.carousel.min.js' %} "></script>
	<!-- magnific popup -->
	<script src=" {% static 'assets/js/jquery.magnific-popup.min.js' %} "></script>
	<!-- mean menu -->
	<script src=" {% static 'assets/js/jquery.meanmenu.min.js' %} "></script>
	<!-- sticker js -->
	<script src=" {% static 'assets/js/sticker.js' %} "></script>
	<!-- main js -->
	<script src=" {% static 'assets/js/main.js' %} "></script>

</body>
</html>